/* место для вашего кода */
.header {
    display: flex;
    position: absolute;
    width: 1052px;
    height: 105px;
    left: 48px;
    top: 92px;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    position: absolute;
    width: 391.48px;
    height: 22px;
    left: 26.52px;
    top: 44px;
    gap: 30px;
}

.header__menu-item {
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.header__logo {
    position: absolute;
    width: 148px;
    height: 105px;
    left: calc(50% - 148px/2 + 2px);
    top: 0px;
}

.header__contacts {
    position: absolute;
    width: 240.52px;
    height: 98px;
    right: 25.48px;
    top: 22px;
}